*.DS_Store

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# emacs temp
\#*#

links/emacs/elpa
links/emacs/projectile-bookmarks.eld
links/emacs/transient
